<div class="comments">
	<div id="php_comment">
		<form method="post" action="https://formspree.io/xeqrlnbz">
			<div class = "form">
					<label for="message">Viesti</label>
				<div class = "row">
					<textarea rows="5" name="message"></textarea>
				</div>
					<label for="name" >Nimi</label>
				<div class = "row">
					<input type="text" name="name">
				</div>
					<label for="email" >Sähköposti</label>
				<div class = "row">
					<input type="email" name="_replyto">
				</div>
				<div class = "row">
					<input type="submit" value="Lähetä">
				</div>
			</div>
		</form> 
	</div>
</div>